# Flutter
.dart_tool/
.packages
.pub-cache/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
macos/Pods/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
*.iml

# VSCode & IntelliJ
.idea/
.vscode/
*.swp

# Others
flutter_export_environment.sh
generated_plugin_registrant.dart
pubspec.lock
